/* google font added link  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');


body{
    font-family: 'Manrope', sans-serif;
    background-color: #CFCFCF;
    background-image: linear-gradient(90deg,#041830, #002648, #041830);


}



.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,#041830, #002648, #041830);

}
.mian_header_container{
    background-image:linear-gradient(rgba(0, 1, 41, 0.242), rgba(0, 0, 0, 0.511)), url('https://images.psg.media/media/148084/hero-header-template-2023.jpg?center=0.5,0.5&mode=crop&width=2000&height=1000&quality=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin: auto;
}

.heading-container{
    margin-top: 50vh;
    /* width: 70%; */
}
.heading-container h1{
    font-size:60px ;
    font-weight: 700;
}

.text-container h2{

    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.text-container p {
    color: white;
    font-size: 25px;
}

.card-title{
    font-size: 30px;
    font-weight: bold;
}

.button{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(3, 6, 200);
    color: white;
    /* border: 1px solid white; */
    padding: 10px;
    

}

.player-container{
    background-color: black;
}

h4{
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid white;
}

p{
    font-size: 20px;
}

ol li {
    color: white;
    font-size: 25px;
    padding: 10px;
}

input{
    padding: 10px;
    font-size: 20px;
}

span{
    font-size: 22px;
    font-weight: 600;
}

hr{
    margin: 30px;
    border-top: 3px solid white;
}