/* google font added link  */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@300;400;500;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(90deg,#041830, #002648, #041830);
}

.mian_header_container{
    background-image:linear-gradient(rgba(0, 1, 41, 0.242), rgba(0, 0, 0, 0.511)), url('https://images.psg.media/media/148084/hero-header-template-2023.jpg?center=0.5,0.5&mode=crop&width=2000&height=1000&quality=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.header-title{
    color: #FF5E19;
    text-align: center;
    font-size: 45px;
    font-family: 'Berkshire Swash', cursive;

}

.heading-container{
    margin-top: 50vh;
}
.heading-container h1{
    font-size:60px ;
    font-weight: 700;
}

.text-container h2{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid white;
    width: 50%;
    margin: 0 auto;
}

.text-container p {
    color: white;
    font-size: 25px;
    padding: 10px;
}

.card-title{
    font-size: 30px;
    font-weight: bold;
}

.button{
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(35, 37, 177, 0.845);
    color: white;
    padding: 10px;
}

.button:hover{
    background-color: #ff5e19d5;
}
.player-container{
    background-color: black;
}

h4{
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid white;
}

p{
    font-size: 20px;
}

ol li {
    color: white;
    font-size: 25px;
    padding: 10px;
}

input{
    padding: 10px;
    font-size: 25px;
    background-color: black;
    font-weight: 800;
    color: white;
    border: 2px solid white;
}

span{
    font-size: 22px;
    font-weight: 600;
}

hr{
    margin: 30px;
    border-top: 3px solid white;
}